:root {
    --clr-gray-1: hsl(0, 0%, 98%);
    --clr-gray-2: hsl(220, 16%, 96%);
    --clr-gray-3: hsl(233, 8%, 62%);
    --clr-gray-4: hsl(233, 26%, 24%);
    --clr-green: hsl(136, 65%, 51%);
    --clr-blue: hsl(192, 70%, 51%);
}
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Public Sans", sans-serif;
}
body {
    overflow-x: hidden;
}
ul {
    list-style-type: none;
}
a {
    text-decoration: none;
}
/* Global Start */
.container {
    width: 1000px;
    max-width: 90%;
    margin: 0 auto;
}
.btn {
    padding: 0.75rem 2rem;
    color: var(--clr-gray-1);
    border-radius: 200px;
    border: none;
    cursor: pointer;
    background-image: linear-gradient(to right, var(--clr-green), var(--clr-blue));
    transition: 0.2s all;
}
.btn:hover {
    opacity: 0.8;
}
.heading-primary {
    line-height: 1.2;
    font-weight: 400;
    font-size: 3rem;
    margin-bottom: 1.5rem;
}
.heading-secondary {
    font-weight: 400;
    font-size: 2.2rem;
    color: var(--clr-gray-4);
    margin-bottom: 1.5rem;
}
.heading-tertiary {
    font-weight: 400;
    font-size: 1.3rem;
    color: var(--clr-gray-4);
    margin-bottom: 1.2rem;
}
.text {
    line-height: 1.7;
    color: var(--clr-gray-3);
    margin-bottom: 1.5rem;
}

.text-sm {
    font-size: 0.9175rem;
}
.text-xs {
    font-size: 0.8rem;
    line-height: 1.5;
}
.col-4 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5rem;
    margin-top: 3rem;
}
/* Global End */

/* Header Start */

/* Nav Start */
.navbar {
    background-color: #fff;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 20;
}
.navbar-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 6rem;
}
.logo {
}
.nav-list {
    display: flex;
    align-items: center;
    gap: 1rem;
    height: 6rem;
}
.nav-item {
    height: 100%;
}
.nav-link {
    display: flex;
    align-items: center;
    height: 100%;
    color: var(--clr-gray-3);
    border-bottom: 5px solid transparent;
    transition: 0.2s all;
}
.nav-link:hover {
    border-bottom: 5px solid;
    border-image-slice: 1;
    border-width: 5px;
    border-image-source: linear-gradient(to right, var(--clr-green), var(--clr-blue));
}
.nav-toggler {
    display: none;
}
/* Nav End */

.hero-section {
}
.hero-container {
    display: grid;
    grid-template-columns: 40% 60%;
}
.hero-text {
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1.5rem;
}
.hero-image {
    position: relative;
    height: 100vh;
}
.hero-image img {
    position: absolute;
    width: 200%;
    top: -160px;
    left: 30px;
    z-index: 5;
}
.hero-image .hero-mobiles {
    width: 105%;
    right: -280px;
    left: auto;
    top: -10px;
    z-index: 15;
}
/* Header End */

/* Features Section Start */
.features-section {
    position: relative;
    z-index: 10;
    padding: 6rem 0;
    background-color: var(--clr-gray-2);
}
.feature {
}
.feature-img {
    margin-bottom: 2rem;
}

/* Features Section End */

/* Articles Start */
.articles-section {
    padding: 5rem 0;
    background-color: var(--clr-gray-1);
}
.card {
    cursor: pointer;
    background-color: #fff;
    border-radius: 8px;
    overflow: hidden;
}
.card-img {
    display: inline-block;
    margin-bottom: 0.5rem;
    width: 100%;
}
.card-body {
    padding: 1rem;
}
.article-author {
    color: var(--clr-gray-3);
    font-size: 0.6rem;
    margin-bottom: 0.5rem;
}

.card-heading {
    font-size: 0.9125rem;
    font-weight: 400;
    margin-bottom: 0.5rem;
    color: var(--clr-gray-4);
    transition: 0.2s all;
}
.card:hover .card-heading {
    color: var(--clr-green);
}
/* Articles End */

/* Footer Start */
.footer {
    background-color: var(--clr-gray-4);
    padding: 2.5rem 0;
    height: 160px;
}
.footer-container {
    display: flex;
    width: 100%;
}
.footer-socials {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 0 1 250px;
}
.logo {
    color: #fff;
    font-weight: 700;
    font-size: 1.2rem;
}
.footer-social-list {
    display: flex;
    flex-wrap: wrap;
    gap: 0.75rem;
}
.footer-social img {
    width: 18px;
}
.footer-links {
    display: flex;
    gap: 2rem;
    flex: 1;
    margin-right: auto;
}
.footer-links-1,
.footer-links-2 {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    flex: 0 1 150px;
}
.footer-links-1 {
}
.footer-link {
    color: var(--clr-gray-2);
    font-weight: 300;
    font-size: 0.875rem;
}

.copyrights {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
    gap: 1.5rem;
    color: var(--clr-gray-3);
}
.copyrights p {
    font-size: 0.875rem;
}

/* Footer End */

/* Utilities Start  */
.mobile {
    display: none;
}
/* Utilities End  */

@media only screen and (max-width: 760px) {
    /* Global Start */
    .container {
        text-align: center;
    }
    .col-4 {
        grid-template-columns: 1fr;
    }
    /* Global End */
    /* Header Start */
    /* Navbar Start */
    .navbar {
        height: 5rem;
    }
    .navbar-container {
        height: 5rem;
    }
    .navbar .btn {
        display: none;
    }
    .nav-list {
        display: none;
    }
    .nav-toggler {
        display: block;
        cursor: pointer;
    }
    .nav-toggler img {
        display: none;
    }
    .nav-toggler .show {
        display: block;
    }

    /* Navbar End */

    .hero-container {
        grid-template-columns: 1fr;
    }
    .hero-text {
        order: 1;
    }
    .hero-image {
        width: 100vw;
        height: 100vw;
    }
    .hero-image img {
        position: absolute;
        width: 100%;
        top: 10px;
        left: -18px;
        z-index: 5;
    }
    .hero-image .hero-mobiles {
        width: 85%;
        right: 55px;
        left: auto;
        top: -30px;
        z-index: 15;
    }
    .hero-text {
        align-items: center;
        text-align: center;
        gap: 0;
        padding-bottom: 4rem;
    }
    /* Header End */

    /* Features start */
    /* Features end */
    /* Footer Start */
    .footer {
        height: auto;
    }
    .footer-container {
        flex-direction: column;
        align-items: center;
    }
    .footer-socials {
        flex: 1;
    }
    .footer-social-list {
    }
    .footer-links {
        flex-direction: column;
        align-items: center;
        margin: auto;
        gap: 0;
    }
    .footer-links-1,
    .footer-links-2 {
        flex: 1;
    }
    .copyrights {
        align-items: center;
    }
    /* Footer End */
    .desktop {
        display: none;
    }
    .mobile {
        display: block;
    }
}
